.statistics {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  overflow: hidden;
}

.title {
  padding: 30px;
  font-weight: 600;
  color: grey;
  text-transform: uppercase;
}

.statList {
  display: flex;
}

.item {
  width: 150px;
  height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  scale: 1;
  transition: scale 250ms ease-in-out;
}

.item:hover,
.item:focus {
  scale: 0.9;
}

.label {
  font-size: 25px;
}

.percentage {
  font-size: 50px;
}
